.app-container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  width: 100%; 
}

.main-content {
  margin-top: 120px; /* Pushes content below header (same as header's height*/
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}