@import "tailwindcss";

/*Header*/
.header {
  background-color: #282c34;
  padding: 10px;
  color: #88a3aa;
  text-align: left;
  text-size-adjust: 200%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header .logo {
  height: 100px;
  margin-right: -70px; 
}

.header h1 {
  font-size: 3rem; 
  font: bold;
}

.header-button {
  background-color: #88a3aa;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  /* text-align: right; */
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
  margin-left: 1450px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto; /* Pushes button to the right */
}

/*Main Content*/

    /*goes here*/


/*Result*/

.recommendation-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.icon {
  font-size: 50px;
  color: #333; /* Dark grey color */
}

