.header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: left;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 1000; /* Ensure header stays on top */
  height: 120px; /* Set a specific height */
}

.header .logo {
  height: 60px;
}

.header h1 {
  font-size: 2.5rem; 
  margin-left: 20px; /* Add space between logo and text */
}

.header-button {
  background-color: #88a3aa;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto; /* Pushes button to the right */
}

/*Result*/

.recommendation-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
}

.icon-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.icon {
  font-size: 50px;
  color: #333; /* Dark grey color */
  transition: transform .2s;
}

.icon:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}


/* General responsive adjustments */
/* @media (max-width: 768px) {
  .header h1 {
    font-size: 1.8rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .icon {
    font-size: 2rem;
  }
} */
