.header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: left;
  text-size-adjust: 200%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header .logo {
  height: 60px;
  /* margin-right: 10px;  */
}

.header h1 {
  font-size: 2.5rem; 
}

.header-button {
  background-color: #88a3aa;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto; /* Pushes button to the right */
}

/*Result*/

.recommendation-section {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 1400px;  /* Moves it 50px downward */
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.icon {
  font-size: 50px;
  color: #333; /* Dark grey color */
}
